<form class="form contact_content-form" id="devisForm" method="post"
action="{{ site.data.company.url.notify }}">
<input type="hidden" name="lang" value="{{ site.data.company.lang }}" />
<input type="hidden" name="type" value="devis" />
<input type="hidden" name="firstName" value="" />
<input type="hidden" name="redirectUrl" value="{{site.data.company.url.redirect}}" />
<input type="hidden" name="key" value="{{ site.data.company.recaptcha.server }}" />
<input type="hidden" name="website" value="{{site.data.company.website}}" />
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group has-feedback ">
        <input type="text" class="form-control " id="lastname" name="lastname" value="" placeholder="Nom">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group has-feedback ">
        <input type="text" class="form-control " id="email" name="email" value="" placeholder="Email">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group has-feedback ">
        <input type="text" class="form-control " id="phone" name="phone" value="" placeholder="Téléphone">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group has-feedback ">
        <select name="select1" id="form_select1" class="form-control">
          <option>Type d’emprunt :</option>
          <option>Achat premier bien immobilier</option>
          <option>Investissement locatif</option>
          <option>Renégociation prêt immobilier</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group has-feedback ">
        <input type="text" class="form-control " id="input1" name="input1" value=""
          placeholder="Montant de l’emprunt">

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group has-feedback ">
        <input type="text" class="form-control " id="input2" name="input2" value=""
          placeholder="Durée de l’emprunt souhaité ">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group has-feedback ">

        <textarea name="message" id="form_message" class="form-control" rows="6"
          placeholder="Message "></textarea>
      </div>
    </div>

    <div class="checkbox d-flex justify-content-center mx-auto mb-5">
      <input name="condition" type="checkbox"
        style="height:2rem; width:2rem; vertical-align: middle; margin-right: 1rem;" />
      <span class="contact_content-form--label" style="font-size: 1.4rem; color: #000;">
        En utilisant ce formulaire, vous acceptez le stockage et la gestion
        de vos données par ce site * <a href="#" data-toggle="modal" class="link" data-target="#modal-rgpd"></a></span>
      <i class="fa fa-info-square" aria-hidden="true"></i>
    </div>
    <div class="form-group d-flex justify-content-center">
      <div class="g-recaptcha" data-sitekey="{{ site.data.company.recaptcha.client }}"></div>
      <br />
      <div id="devis-form-response"></div>
    </div>
  </div>
  <div class="submit_btn">
    <div class="form-group">
      <button type="submit" name="devis" class="button">Envoyer</button>
    </div>
  </div>
</form>