<footer>

  <img src="./assets/img/logo-ce.png" alt="logo crédit expert" class="logo_footer">
  <div class="col-sm-12 crEfooter">
    <div class="col-sm-2 air-footer-iner" style="padding-left: 5%;">
      <p>Plan du site</p>
      <ul>
        <li><a href="https://www.courtier-paris.com/">Accueil</a></li>
        <li><a href="{% link qui-sommes-nous.html %}">Qui sommes-nous ?</a></li>
        <li><a href="{% link nos-prestations.html %}">Nos prestations</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="devis">Simulez votre crédit</a></li>
        <li><a href="mentions-legales">Mentions légales</a></li>
      </ul>
    </div>
    <div class="col-sm-4 air-footer-iner">
      <p class="text-center">Zone d'interventions</p>
      <div class="row">
        <div class="col-sm-6 text-right">
          <ul>
            <li><a href="{% link courtier-paris-1.html %}">Courtier Paris 1</a></li>
            <li><a href="{% link courtier-paris-2.html %}">Courtier Paris 2</a></li>
            <li><a href="{% link courtier-paris-3.html %}">Courtier Paris 3</a></li>
            <li><a href="{% link courtier-paris-4.html %}">Courtier Paris 4</a></li>
            <li><a href="courtier-paris-6">Courtier Paris 6</a></li>
            <li><a href="courtier-paris-8">Courtier Paris 8</a></li>
            <li><a href="courtier-paris-11">Courtier Paris 11</a></li>
            <li><a href="courtier-paris-16">Courtier Paris 16</a></li>
            <li><a href="courtier-troyes">Courtier Troyes</a></li>
            <li><a href="credit-immobilier-periode-essai">Crédit immobilier période essai</a></li>
            <li><a href="viager-quel-age">Viager quel âge</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li><a href="courtier-melun">Courtier Melun</a></li>
            <li><a href="courtier-sartrouville">Courtier Sartrouville</a></li>
            <li><a href="courtier-levallois-perret">Courtier Levallois-perret</a></li>
            <li><a href="courtier-immobilier-paris">Courtier immobilier Paris</a></li>
            <li><a href="courtier-charleville-mezieres">Courtier Charleville-Mézières</a></li>
            <li><a href="courtier-immobilier">Courtier immobilier</a></li>
            <li><a href="courtier-prets-immobiliers">Courtier en prêts immobiliers</a></li>
            <li><a href="meilleur-courtier-immobilier">Meilleur courtier immobilier</a></li>
            <li><a href="courtier-credit">Courtier crédit</a></li>
            <li><a href="rachat-credit-difficile">Rachat crédit difficile</a></li>
            <li><a href="comment-fonctionne-un-courtier-immobilier">Comment fonctionne un courtier immobilier</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 air-footer-iner" style="margin-left: 2%">

      <p style="margin-top: 10%">Crédit expert Sartrouville</p>
      <address>
        <span class="">36B, Av. Jean Jaurès - 78500 Sartrouville</span><br>
        <span class="fa fa-phone fa-fw"></span> <a href="tel:01 85 53 91 38">01 85 53 91 38</a><br>
        <span class="fa fa-envelope fa-fw"></span><a href="mailto:info@creditexpert.fr">info@creditexpert.fr</a><br>
      </address>
    </div>
  </div>

  <div class="container">
    <p class="text-center">
      <a href="http://www.bhinternet.fr/" target="_blank" title="BHInternet">BHInternet</a> - <a
        href="http://www.bhinternet.fr/" target="_blank" title="Création site internet en Essonne">Création site
        internet en Essonne</a> | 2024
    </p>
  </div>
</footer>


<script src="./assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>