<header class="slider">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 reseau text-right">
          <a href="tel:0185539138"><img src="./assets/img/phone.png" alt="icone téléphone"></a>
          <a href="mailto:info@creditexpert.fr"><img src="./assets/img/mail.png" alt="icone enveloppe"></a>
          <a href="https://www.facebook.com/creditexpertfrance" target="_blank"><img src="./assets/img/facebook.png"
              alt="icone facebook"></a>
          <a href="https://www.instagram.com/creditexpertfrance/" target="_blank"><img src="./assets/img/instagram.png"
              alt="icone instagram"></a>
          <a href="https://www.linkedin.com/company/4992357" target="_blank"><img src="./assets/img/linkedin.png"
              alt="icone linkedin"></a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="Navbar_home">
  <div class="container-fluid">
    <nav class="navbar Navbar_main navbar-expand-lg fixedNav">
      <div class="w-100">
        <div class="row flex-nowrap to-start-1920 align-items-center">
          <div class="col-sm-3">
            <div class="navbar_image">
              <a href="{% link accueil.html %}" title="Accueil"><img loading="lazy" src="../assets/img/logo-ce.png"
                  class="navbar_image-img" alt="logo crédit expert" /></a>
            </div>
          </div>
          <div class="col-sm-9 to-left">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars toggle-button navbar_toggler-icon" aria-hidden="true"></i>
          </button>
            <div class="collapse navbar-collapse navbar_nav navbar_collapse" id="navbar">
              <ul class="navbar-nav navbar_nav-ul ml-auto">
                <li class="nav-item navbar_nav-li mt-1">
                  <a class="nav-link navbar_nav-li--link d-flex align-items-center m-to-3"
                    href="{% link accueil.html %}">Accueil</a>
                </li>
                <li class="nav-item navbar_nav-li mt-1">
                  <a class="nav-link navbar_nav-li--link d-flex align-items-center m-to-3"
                    href="{% link qui-sommes-nous.html %}">Qui sommes-nous ?</a>
                </li>
                <li class="nav-item navbar_nav-li mt-1">
                  <a class="nav-link navbar_nav-li--link d-flex align-items-center m-to-3" href="{% link nos-prestations.html %}">Nos prestations </a>
                </li>
                <li class="nav-item navbar_nav-li mt-1">
                  <a class="nav-link navbar_nav-li--link d-flex align-items-center m-to-3"
                    href="{% link contact.html %}">Contact</a>
                </li>
                <li class="nav-item navbar_nav-li ml-auto">
                  <a href="{% link devis.html %}" class="button">Obtenez votre étude personnalisée</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>